{% extends 'base.html.twig' %}

{% block title %}List of Authors{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Name</th>
                <th>
                    Surname
                    <form>
                        <button method="GET" name="val" value="sa" href="{{ path('author_index') }}">ASC</button>
                        <button method="GET" name="val" value="sd" href="{{ path('author_index') }}">DESC</button>
                    </form>
                </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>
                    {% if author.photoFileName != '' %}
                        <img src=" {{ asset('img/authors/') ~ author.photoFileName }} " height="50">
                    {% else %}
                        <img src=" {{ asset('img/authors/default.jpeg')}} " height="50">
                    {% endif %} 
                </td>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}
